%{ if primary == true }
bind-address: 192.168.0.60
%{ else }
server: https://192.168.0.60:9345
%{ endif }
write-kubeconfig-mode: "0644"
token: my-shared-secret
disable:
  - rke2-metrics-server
  - rke2-ingress-nginx
disable-cloud-controller: true