%{ if primary == true }
bind-address: ${ip_addr}
%{ else }
server: https://192.168.1.20:9345
%{ endif }
write-kubeconfig-mode: "0644"
token: my-shared-secret
disable:
  - rke2-metrics-server
  - rke2-ingress-nginx
disable-cloud-controller: true