%{ if primary == true }
cluster-init: true
%{ else }
server: https://${join_server}:9345
%{ endif }
%{ if role == "server" }
write-kubeconfig-mode: "0644"

tls-san:
  - ${node_host}
  - ${node_host}.${domain}
  - ${cluster_host}
  - ${cluster_host}.${domain}
disable:
  - traefik
  - servicelb
disable-cloud-controller: true
%{ endif }
token: my-shared-secret
%{ if taint == true }
node-taint:
  - "CriticalAddonsOnly=true:NoExecute"
%{ endif }