[Unit]
Description=coredns service

[Service]
Restart=always
ExecStart=/usr/local/bin/coredns -conf /home/pi/Management/Corefile
#ExecStop=/usr/bin/podman stop -t 2 coredns

[Install]
WantedBy=local.target