%{ if primary == true }
bind-address: ${ip_addr}
%{ else }
server: https://${join_server}:9345
%{ endif }
%{ if role == "server" }
write-kubeconfig-mode: "0644"
node-taint:
  - "CriticalAddonsOnly=true:NoExecute"
tls-san:
  - ${node_host}
  - ${node_host}.${domain}
  - ${cluster_host}
  - ${cluster_host}.${domain}
disable:
  - rke2-metrics-server
  - rke2-ingress-nginx
disable-cloud-controller: true
%{ endif }
token: my-shared-secret
